* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
}

h1 {
    margin: 10px 10px;
    text-align: center;
}

p {
    margin: 5px 10px 15px;
    text-align: center;
}

form {
    margin: 10px 10px;
    text-align: center;
}

fieldset {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
}

div {
    margin: 3px 5px;
    text-align: left;
}

input,
select,
textarea {
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    border-width: 1px;
    border-style: ridge;
    border-color: rgb(114, 65, 143);
}

input,
select {
    width: 200px;
}

textarea {
    max-width: 700px;
}

span {
    margin-top: 15px;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    border-color: rgb(114, 65, 143);
    background-color: rgb(240, 240, 240);
}

#Rants {
    margin: 5px 20px;
}