* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.ishidden {
    display: none !important;
}

body {
    background-color: rgb(251, 227, 185);
}

a {
    text-decoration: none;
}

button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 1px rgb(45, 51, 74);
    background-color: rgb(192, 243, 224);
}

button:hover {
    background-color: rgb(45, 51, 74);
    color: white;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 200ms;
}

.flexbox {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.notYou {
    text-align: center;
    color: rgb(214, 47, 5);
    text-shadow: 1px 0 rgb(49, 10, 0);
}

.nopeButton:hover {
    animation-name: wiggle;
    animation-duration: 250ms;
    animation-iteration-count: initial;
}

@keyframes wiggle {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(5px, 0);
    }
    40% {
        transform: translate(-5px, 0);
    }
    60% {
        transform: translate(5px, 0);
    }
    80% {
        transform: translate(-5px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

#navBar {
    margin: 0;
    padding: 1% 0 1.5%;
    background-color: rgb(12, 148, 99);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#navBar.navBar-padding {
    padding: 16px 0 20px;
}

#navBar a {
    margin-right: 3%;
    margin-left: 3%;
    color: rgb(45, 51, 74);
}

#navBar a :hover {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: rgb(250, 182, 150);
}

#navBar h2 {
    font-size: 20px;
}

#navBar div {
    margin-right: 3%;
    margin-left: 3%;
    text-align: center;
    color: rgb(45, 51, 74);
}

#navBar div button {
    margin-top: 5px;
    border-radius: 3px;
    border-width: 0.1px;
    padding: 3px 5px 4px;
}

#serverReply {
    height: 30px;
    margin-top: 1%;
    text-align: center;
}


/*login.html*/

.form-padding {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    background-color: white;
    box-shadow: 0 4px 10px black;
    height: 300px;
}

.form-inlay {
    width: 100%;
    background-color: rgb(250, 182, 150);
    border-width: 5px;
    border-bottom: solid;
    border-top: solid;
    border-color: rgb(45, 51, 74);
}

form {
    padding: 14px 14px;
    border-radius: 20px;
    width: 76%;
    text-align: center;
    margin: auto;
}

form h1 {
    text-align: left;
    margin-left: 4%;
    text-shadow: 2px 3px rgb(250, 182, 150);
}

form .flexbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

form fieldset {
    border: none;
}

form .div-inputs {
    width: 100%;
}

form input {
    margin: 10px 0;
    padding: 8px 4px;
    width: 80%;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(45, 51, 74);
    font-size: 15px;
    transform: scaleX(1.15);
}

form span {
    font-size: 15px;
}

form a {
    color: rgb(45, 51, 74);
    text-decoration: rgb(45, 51, 74);
}

form a :hover {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: rgb(250, 182, 150);
}


/*recipes.html*/

h1 {
    font-size: 28px;
    text-align: center;
    transform: scaleY(1.1);
    margin-bottom: 15px;
    text-shadow: 2px 3px rgb(250, 182, 150);
}

.recipe-post {
    margin: 0;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 5px black;
    height: max-content;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.recipe-inlay {
    background-color: rgb(250, 182, 150);
    height: 80%;
    width: 100%;
    margin: 0;
    border-width: 3px;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(45, 51, 74);
    padding-top: 5px;
    padding-bottom: 5px;
}

.recipe-post.flexbox {
    align-items: flex-start;
}

.recipe-inlay * {
    margin: 0 5px;
}

.recipe-post p {
    margin-bottom: 3px;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(45, 51, 74);
}

.recipe-post h3 {
    margin-bottom: 5px;
    margin-left: 9px;
    color: rgb(12, 148, 99);
    text-shadow: 1px 1px rgb(196, 126, 93);
}


/*myRecipes.html*/

#recipeForm {
    width: 80%;
}

#recipeForm * {
    width: 100%;
    margin: auto;
}

#recipeForm input {
    width: 70%;
}

#ingredients input {
    margin: 3px 0;
}

#addIngredient {
    width: 13%;
    font-size: 20px;
    padding: 3px 0;
    margin: 3px 0 8px;
}

textarea {
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    width: 250px;
    height: 90px;
    resize: none;
}

#submitRecipe {
    margin-top: 8px;
    width: fit-content;
}

#scriptReply {
    height: 30px;
    text-align: center;
}

.recipe-inlay>.flexbox {
    flex-flow: column nowrap;
    align-items: flex-end;
}

.recipe-inlay>.flexbox button {
    margin: 6px 8px;
}

@media screen and (min-width: 600px) {
    button {
        padding: 8px;
        margin: 3px 0 8px;
        font-size: 15px;
        transform: scaleX(1.1);
    }
    #navBar {
        justify-content: flex-end;
        padding: 0.5% 0 1%;
    }
    .navBar-padding a {
        margin: 0 4%;
    }
    #navBar h2 {
        font-size: 18px;
        transform: scale(1.1, 1.3);
    }
    #navBar div {
        margin-right: 4%;
    }
    #navBar h4 {
        font-size: 18px;
    }
    #serverReply {
        margin: 1% 0 2%;
    }
    /*login.html*/
    .form-padding {
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 20px;
        padding: 30px;
    }
    .form-inlay {
        width: 100%;
        border-radius: 10px;
        border: solid;
        border-color: rgb(45, 51, 74);
    }
    form {
        width: 100%;
    }
    form h1 {
        margin-left: 12%;
        font-size: 30px;
        transform: scaleX(1.05);
    }
    form input {
        margin: 10px 0;
        padding: 8px 4px;
        width: 70%;
        font-size: 16px;
        transform: scaleX(1.15);
    }
    /*recipes.html*/
    h1 {
        font-size: 40px;
    }
    .recipe-post {
        margin: 0 4% 4%;
        border-radius: 20px;
    }
    .recipe-inlay {
        margin: 0 2%;
        border-radius: 10px;
        border: 2px solid rgb(45, 51, 74);
    }
    .recipe-post p {
        margin-bottom: 10px;
        font-size: 17px;
    }
    .recipe-post p b {
        font-size: 19px;
    }
    .recipe-post h3 {
        font-size: 28px;
    }
    /*myRecipes.html*/
    #loggedIn .form-inlay {
        margin: 1% 3%;
        border: 2px solid rgb(45, 51, 74);
    }
    #recipeForm {
        width: 70%;
    }
    #recipeForm input {
        margin-bottom: 20px;
    }
    #ingredients input {
        margin: 5px;
    }
    #addIngredient {
        width: 7%;
    }
    form h4 {
        font-size: 24px;
    }
    form textarea {
        font-size: 15px;
        padding: 3px 4px;
    }
    form div button {
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) {
    #navBar a {
        margin-right: 2%;
        margin-left: 2%;
    }
    #navBar h2 {
        font-size: 20px;
    }
    #navBar div {
        margin-right: 3%;
        margin-left: 2%;
    }
    #navBar h4 {
        font-size: 20px;
    }
    /*login.html*/
    .form-padding {
        margin-left: 28%;
        margin-right: 30%;
        border-radius: 30px;
        padding: 20px;
    }
    .form-inlay {
        border-radius: 20px;
        border-width: 2px
    }
    form h1 {
        font-size: 31px;
    }
    /*recipes.html*/
    #serverReply {
        margin: 1.5% 0 1.5% 8%;
        font-size: 17px;
        text-align: left;
        height: 20px;
    }
    h1 {
        font-size: 70px;
        text-align: left;
        margin-left: 8%;
    }
    #recipeDiv {
        display: flex;
        flex-flow: row wrap;
        margin: 3% 0 4%;
        align-items: center;
    }
    .recipe-post {
        margin: 0 1% 3% 1%;
        border-radius: 24px;
        width: 48%;
        padding: 12px 0;
    }
    .recipe-inlay {
        margin: 0 2.4%;
        border-radius: 15px;
    }
    .recipe-post p {
        margin-bottom: 7px;
        border-width: 1.8px;
    }
    .recipe-post button {
        margin-right: 10px;
    }
    /*myFavorites.html*/
    #myFavs .recipe-post {
        width: 97%;
        margin: 0 2% 2%;
    }
    #myFavs .recipe-inlay {
        border-width: 1.8px;
        margin: 0 1.4%;
    }
    /*myRecipes.html*/
    #serverReply+h1 {
        margin-left: 2%;
    }
    #theRecipeFlexbox {
        display: flex;
        flex-flow: row wrap;
    }
    #theRecipeFlexbox #loggedIn .recipe-post {
        width: 500px;
        padding: 10px 0;
    }
    #recipeForm {
        width: 100%;
    }
    #theRecipeFlexbox #recipeDiv {
        margin-top: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
    }
    #theRecipeFlexbox .recipe-post {
        width: 95%;
        border-radius: 20px;
    }
    #theRecipeFlexbox .recipe-inlay {
        height: 100%;
    }
}