    /*for desktop*/
    /*basic styling for all three pages*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .flex {
        display: flex;
    }
    
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url("bg.png");
        line-height: 1.4em;
    }
    
    main {
        padding-left: 15px;
        padding-right: 10px;
    }
    
    a {
        text-decoration: none;
        color: rgb(32, 99, 165);
        transition: all 300ms ease-out;
    }
    
    a:hover {
        color: rgb(112, 10, 69);
        transform: scale3d(1.15, 1.15, 1.15);
        font-size: 1.1em;
    }
    /*navigation bar*/
    
    nav>ul {
        list-style-type: none;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: rgb(32, 99, 165);
        padding: 10px 50px 12px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header #logo {
        text-transform: uppercase;
        font-size: 35px;
        color: linen;
        padding: 8px 0 5px 0;
        transition: font-size, transform 500ms ease-out;
    }
    
    #logo:hover {
        font-size: 42px;
        transform: scale3d(1.2);
        transform: rotate(360deg);
    }
    
    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    header nav li {
        margin: 0 15px;
        display: inline-block;
    }
    
    header nav li:first-child {
        margin-left: 0;
    }
    
    header nav li:last-child {
        margin-right: 0;
    }
    
    header nav li>a {
        color: linen;
        padding: 10px;
    }
    
    header nav .current {
        background-color: rgb(112, 10, 69);
        border-radius: 5px;
    }
    
    header nav .current:hover {
        color: black;
        background-color: rgb(112, 10, 69);
        border-radius: 5px;
    }
    
    header nav li>a:hover {
        background-color: rgb(66, 115, 165);
        border-radius: 5px;
    }
    /*picture header*/
    
    .backgroundHeader {
        height: 300px;
        width: 100%;
        text-align: center;
        background-image: url(../Kapitel_1.3/mountain\ header.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-end-end-radius: 50%;
        border-end-start-radius: 50%;
        margin-bottom: 2em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    #Top {
        color: rgb(112, 10, 69);
        margin: 90px 0 0;
        font-size: 48px;
        font-weight: bold;
        padding: 0 0 30px 0;
    }
    
    .backgroundHeader a:hover {
        color: rgb(139, 151, 25);
    }
    
    .backgroundHeader p {
        font-size: 18px;
        width: 50%;
        text-align: center;
        margin-top: 0px;
    }
    
    .backgroundHeader.flex {
        flex-flow: column wrap;
    }
    
    .fab {
        font-size: 50px;
        padding: .2em;
    }
    /*general text styling*/
    
    @keyframes colorrange {
        50% {
            color: rgb(112, 10, 69);
        }
        100% {
            color: rgb(139, 151, 25);
        }
    }
    
    #mainheadline {
        animation-name: colorrange;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
    h1 {
        color: rgb(139, 151, 25);
        padding: 2% 0 3% 0;
        margin: 2% 0 0 0;
        text-align: center;
    }
    
    h2 {
        color: rgb(139, 151, 25);
        padding: 1.7% 0 2.4% 4%;
    }
    
    h3 {
        color: rgb(139, 151, 25);
        padding: 1.3% 0 1.9% 3%;
    }
    
    h4 {
        color: rgb(139, 151, 25);
        padding: 1% 0 1.5% 2%;
    }
    
    h5 {
        color: rgb(139, 151, 25);
        padding: .7% 0 1.1% 1%;
    }
    
    .section {
        border-bottom: .12em solid black;
        margin-top: .8em;
        margin-bottom: 1em;
    }
    
    .lightSection {
        border-bottom: .05em solid grey;
        margin-top: .5em;
        margin-bottom: .8em;
    }
    
    .lighterSection {
        border-bottom: .05em solid rgb(179, 177, 177);
        margin-top: .5em;
        margin-bottom: .8em;
    }
    
    body p {
        padding-bottom: 7px;
    }
    
    .center {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    #last {
        padding: 30px;
        text-align: center;
    }
    /*portfolio page specific styling*/
    
    ol {
        list-style-type: none;
        text-align: left;
        line-height: 130%;
    }
    
    .bold {
        font-weight: bold;
        padding-left: 1em;
    }
    
    .italics {
        font-style: italic;
        padding-left: 2em;
    }
    
    .norm {
        font-size: small;
        padding-left: 3.5em;
    }
    
    .width {
        width: 328px;
        background-color: rgba(112, 10, 69, 0.178);
        border-radius: 10px;
        padding: 1em;
        margin: auto;
        margin-bottom: 1em;
    }
    
    .poem {
        text-align: center;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    .poem h4 {
        padding-left: 0px;
    }
    
    video {
        margin: 10px 0 30px 0;
    }
    /*person page specific styling*/
    
    img.center {
        margin-bottom: 20px;
    }
    
    table {
        color: linen;
    }
    
    th {
        background: rgb(32, 99, 165);
        padding: .5em .5em .7em .5em;
    }
    
    .number {
        color: linen;
        background-color: rgb(32, 99, 165);
        font-weight: bold;
    }
    
    td {
        padding: .5em .5em .7em .5em;
        color: black;
    }
    
    table,
    th,
    td {
        border: .2em solid rgb(139, 151, 25);
        border-collapse: collapse;
    }
    /*kontakt page specific styling*/
    
    .flex.form {
        margin: auto;
        flex-flow: column nowrap;
        align-items: center;
        margin: auto;
    }
    
    input[type=text] {
        background-color: rgb(179, 177, 177);
        border-radius: 5px;
        padding: .5em .8em;
        margin: .2em .2em;
        width: 60%;
    }
    
    fieldset {
        border-radius: 10px;
        border: .1em solid rgb(139, 151, 25);
        padding: 10px;
        width: 70%;
        text-align: left;
    }
    
    label {
        color: grey;
        margin: 1em 1em 1em 0em;
    }
    
    button {
        background-color: rgb(32, 99, 165);
        border-radius: 5px;
        color: linen;
        margin-top: 1em;
        padding: 5px 10px;
        transition: padding .5s;
        transition-timing-function: ease-out;
    }
    
    button:hover {
        background-color: rgb(112, 10, 69);
        padding: 7px 12px;
    }
    
    @media screen and (max-width: 1024px) {
        body {
            font-size: 90%;
        }
        main {
            padding-left: 5px;
            padding-right: 5px;
        }
        header {
            padding: 15px 30px 11px 30px;
        }
        header #logo {
            font-size: 28px;
            padding: 0 0 5px 0;
        }
        #logo:hover {
            font-size: 35px;
        }
        .backgroundHeader {
            height: 270px;
            margin-bottom: 10px;
        }
        #Top {
            font-size: 37px;
            margin-top: 80px;
            padding: 0;
        }
        .backgroundHeader p {
            margin-top: 3%;
            width: 50%;
        }
        .fab {
            font-size: 40px;
        }
        .section {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .lightSection {
            margin-top: .8em;
            margin-bottom: 1em;
        }
        .lighterSection {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        video {
            width: 100%;
        }
        fieldset {
            width: 100%;
        }
        input[type=text] {
            width: inherit;
        }
    }
    
    @media screen and (max-width:600px) {
        body {
            line-height: 1.4em;
        }
        main {
            padding-left: 2px;
            padding-right: 2px;
        }
        header {
            flex-direction: column;
            padding: 10px 7px;
        }
        header #logo {
            font-size: 20px;
            padding: 0 0 10px 0;
        }
        #logo:hover {
            font-size: 28px;
        }
        header nav li {
            margin: 0 7px;
        }
        header nav li>a {
            padding: 5px;
        }
        .backgroundHeader {
            height: 220px;
        }
        #Top {
            font-size: 26px;
            margin-top: 90px;
            padding: 0;
        }
        .backgroundHeader p {
            font-size: 90%;
            width: 80%;
            margin-top: 10px;
        }
        .fab {
            font-size: 30px;
        }
        h1,
        h2,
        h3,
        h4,
        h5 {
            text-align: center;
            padding-left: 0px;
            padding-top: 10px;
        }
        .width {
            width: 250px;
        }
    }
    /*@media screen and (max-width: 315px) {
        header {
            flex-direction: column;
            padding: 6px 3px;
        }
        header h2 {
            font-size: 15px;
            padding-bottom: 5px;
        }
        header nav li {
            margin: 0 5px;
        }
        header nav li>a {
            padding: 4px;
        }
        .backgroundHeader {
            height: 170px;
            text-align: center;
        }
        h1#Top {
            font-size: 22px;
            padding: 20%;
        }
        .backgroundHeader p {
            font-size: 80%;
            line-height: 1.2em;
            ;
        }
        .fab {
            font-size: 1em;
        }
    }*/