    /*for desktop*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .flex {
        display: flex;
    }
    
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url("bg.png");
        line-height: 1.4em;
    }
    
    main {
        padding-left: 15px;
        padding-right: 10px;
    }
    
    nav>ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: rgb(32, 99, 165);
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: rgb(32, 99, 165);
        padding: 20px 50px 16px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header h2 {
        text-transform: uppercase;
        font-size: 35px;
        color: linen;
    }
    
    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    header nav li {
        margin: 0 15px;
        display: inline-block;
    }
    
    header nav li:first-child {
        margin-left: 0;
    }
    
    header nav li:last-child {
        margin-right: 0;
    }
    
    header nav li>a {
        color: linen;
        padding: 10px;
    }
    
    header nav .current {
        background-color: rgb(112, 10, 69);
        border-radius: 5px;
    }
    
    header nav .current:hover {
        color: black;
        background-color: rgb(112, 10, 69);
        border-radius: 5px;
    }
    
    header nav li>a:hover {
        background-color: rgb(66, 115, 165);
        border-radius: 5px;
    }
    
    .backgroundHeader {
        height: 300px;
        width: 100%;
        text-align: center;
        background-image: url(../Kapitel_1.3/mountain\ header.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-end-end-radius: 50%;
        border-end-start-radius: 50%;
        margin-bottom: 2em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    #Top {
        color: rgb(112, 10, 69);
        margin-top: 100px;
        font-size: 48px;
        font-weight: bold;
    }
    
    .backgroundHeader a:hover {
        color: rgb(139, 151, 25);
    }
    
    .backgroundHeader p {
        font-size: 18px;
        width: 50%;
        text-align: center;
        margin-top: 20px;
    }
    
    .backgroundHeader.flex {
        flex-flow: column wrap;
    }
    
    ol {
        list-style-type: none;
        text-align: left;
        line-height: 130%;
    }
    
    .section {
        border-bottom: .12em solid black;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    .lightSection {
        border-bottom: .05em solid grey;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    .lighterSection {
        border-bottom: .05em solid rgb(179, 177, 177);
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    body p {
        padding-bottom: 7px;
    }
    
    .fab {
        font-size: 50px;
        padding-left: .2em;
        padding-right: .2em;
    }
    
    @media screen and (max-width: 1024px) {
        body {
            font-size: 90%;
        }
        header {
            padding: 15px 30px 11px 30px;
        }
        header h2 {
            font-size: 28px;
        }
        .backgroundHeader {
            height: 270px;
        }
        .backgroundHeader p {
            margin-top: 2%;
        }
        #Top {
            font-size: 30px;
            margin-top: 12%;
        }
        video {
            width: 80%;
        }
    }
    
    @media screen and (max-width:600px) {
        body {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.2em;
        }
        header {
            flex-direction: column;
            padding: 10px 7px;
        }
        header h2 {
            font-size: 20px;
            padding-bottom: 5px;
        }
        header nav li {
            margin: 0 7px;
        }
        header nav li>a {
            padding: 5px;
        }
        .backgroundHeader {
            height: 200px;
        }
        h1#Top {
            font-size: 22px;
            margin-top: 14%;
        }
        .backgroundHeader p {
            font-size: 90%;
            width: 80%;
        }
        .fab {
            font-size: 20px;
            padding-left: .5em;
            padding-right: .5em;
        }
    }
    
    @media screen and (max-width: 315px) {
        header {
            flex-direction: column;
            padding: 6px 3px;
        }
        header h2 {
            font-size: 15px;
            padding-bottom: 5px;
        }
        header nav li {
            margin: 0 5px;
        }
        header nav li>a {
            padding: 4px;
        }
        .backgroundHeader {
            height: 170px;
            text-align: center;
        }
        h1#Top {
            font-size: 22px;
            padding: 20%;
        }
        .backgroundHeader p {
            font-size: 80%;
            line-height: 1.2em;
            ;
        }
        .fab {
            font-size: 1em;
        }
    }